* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*color de fondo de la pagina*/
body {
    background: linear-gradient(#AE4F68, #B1475B, #A73F52, #94425D, #945B72, #A97895, #8D6285, #8A6587, #725185, #70629C, #625D9D);
}

/* grid de las imagenes de la seccion trabajo*/

.seccion-trabajos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem 0;
    /* espacios entre filas y columnas*/
    place-content: center;
    width: 100%;
    padding: 1vh 3vh;
}

.div1 {
    grid-area: 1 / 1 / 2/ 2;
}


.div2 {
    grid-area: 1 / 2/ 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.div1,
.div2,
.div3,
.div4 {
    width: 100%;
}

img {
    width: 100%;
}

/* fin de grid de las imagenes de la seccion trabajo*/

/*estilos del parrafo*/

p {
    font-family: 'Nanum Pen Script', cursive;
    color: white;
    padding: 0vh 4vh;
    width: 100%;
    font-size: 1.5em;
}

/* parrafos con direccion a la derecha*/
.parrafo-derecha {
    text-align: right;
}

/*tipo de fuente y color de los subtitulos*/
h2 {
    font-family: 'Space Mono', monospace;
    color: white;
    padding: 1.5vh 4vh;

}

/*tamaño de fuente y tipo del titulo principal*/
.titulo-principal {
    font-family: 'Space Mono', monospace;
    color: white;
}


/* orden de los subtitulos y estilos*/
.subtitulo-right {
    text-align: right;
}

.subtitulo-contacto {
    font-weight: bold;
    font-size: 2em;
    text-transform: none;
    padding-top: 15vh;
    padding-bottom: 2vh;
    font-family: 'Space Mono', monospace;
    text-align: center;
}

/* estilo para el texto de contacto*/

.texto-contacto {
    font-family: 'Space Mono', monospace;
    text-transform: none;
    text-align: center;
    font-size: 1em;
}

/* estilos para imagenes contacto, ilustracion y decoracion(estrellas)*/
.img-contacto {
    width: 5%;
}

.imagen-ilustracion {
    width: 20%;
    height: 20%;


}

.decoracion {
    width: 10%;
    height: 10%;

}

/*estilo imagen corazones*/
.corazon {
    width: 10%;
    height: 10%;
}


/* estilos para la playlist de spotify*/

.playlist {
    border-radius: 30px;
    width: 100%;
}


/*estilos del navbar y a (contacto tambien)*/

li {
    font-family: 'Space Mono', monospace;
    list-style: none;
    padding: 1vh 1vh;

}
a{
    text-decoration: none;

}
a:link {
    color:white;
  }
  
  a:visited {
    color: white;
  }

.collapse {
    background-color: #AE4F68;
}
