$colores:
#AE4F68,
#B1475B,
#A73F52,
#94425D,
#945B72,
#A97895,
#8D6285,
#8A6587,
#725185,
#70629C,
#625D9D,
black,
white,
grey,
#FDB1C6;


$fuentes:
'Space Mono', monospace;


$font-size:
1.5em,
2em,
1em;

