@import"listas";
@import "mixins";
@import "extends";
@import "pages/header";
@import "pages/footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*color de fondo de la pagina*/
body {
    background: linear-gradient(#AE4F68, #B1475B, #A73F52, #94425D, #945B72, #A97895, #8D6285, #8A6587, #725185, #70629C, #625D9D);
}


/* grid de las imagenes de la seccion trabajo*/

.seccion-trabajos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem 0;
    /* espacios entre filas y columnas*/
    place-content: center;
    width: 100%;
    padding: 1vh 3vh;

    .div1 {
        grid-area: 1 / 1 / 2/ 2;
    }


    .div2 {
        grid-area: 1 / 2/ 2 / 3;
    }

    .div3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .div1,
    .div2,
    .div3,
    .div4 {
        width: 100%;
    }

    img {
        width: 100%;

    }


    .img-grid:hover {
        opacity: 50%;
        transition-duration: 1s, 1s, 1s, 1s;
    }

    /* fin de grid de las imagenes de la seccion trabajos*/

}

/*estilos para los videos de youtube de la seccion trabajos*/
.videos {
    padding: 1.5rem;
}

/*estilos del parrafo*/

p {
    font-family: 'Nanum Pen Script', cursive;
    color: nth($colores, 13);
    padding: 0vh 3vh;
    width: 100%;
    font-size: nth($font-size, 1);
}

/* parrafos con direccion a la derecha*/
.parrafo-derecha {
    text-align: right;
}

/*tipo de fuente y color de los subtitulos*/
h2 {
    font-family: nth($fuentes, 1);
    color: nth($colores, 15);
    padding: 1.2vh 4vh;
    text-decoration: underline nth($colores, 13)
}

/*orden de los subtitulos y estilos*/
.subtitulo-right {
    text-align: right;
}

.subtitulo-contacto {
    font-weight: bold;
    font-size: nth($font-size, 2);
    text-transform: none;
    padding-top: 15vh;
    padding-bottom: 2vh;
    font-family: nth($fuentes, 1);
    text-align: center;
    color: nth($colores, 6);

}

/* estilo para el texto de contacto*/

.texto-contacto {
    font-family: nth($fuentes, 1);
    text-transform: none;
    text-align: center;
    font-size: nth($font-size, 3);
    color: nth($colores, 13);
}


/*tamaño de fuente y tipo del titulo principal*/
h1 {
    font-family: nth($fuentes, 1);
    color: nth($colores, 13);
    font-size: nth($font-size, 1);
    padding-right: 1em;
}

/*separador entre los titulos*/
hr {
    border: none;
    height: 5px;
    color: nth($colores, 13);
    background-color: nth($colores, 13);

}



/* estilos para imagenes contacto, ilustracion y decoracion(estrellas)*/
.img-contacto {
    width: 10%;

}

.imagen-ilustracion {
    width: 400%;
    height: 20%;
}


.decoracion:hover {
    transform: translate(10px, 20px);

}

/*estilos para los iconos de la seccion conocimientos*/

.conocimientos-iconos {
    width: 4%;
}

.iconos {
    display: flex;
    justify-content: flex-end;
}


/* estilos para las playlist de spotify*/

.playlist {
    border-radius: 30px;
    width: 100%;
}